.title {
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  line-height: -9px;
}
.title span {
  color: #FF6428;
}
@media (min-width: 0px) and (max-width: 650px) {
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: -9px;
  }
}
